<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{476,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,388}}</string>
                <key>sourceSize</key>
                <string>{476,388}</string>
            </dict>
            <key>com_tip_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>com_tip_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,392},{214,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{214,70}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>com_tip_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,789},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>com_tip_btn_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,666},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>k_20_IOS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{330,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,104}}</string>
                <key>sourceSize</key>
                <string>{330,104}</string>
            </dict>
            <key>k_20_IOS_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,168},{182,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,34}}</string>
                <key>sourceSize</key>
                <string>{182,34}</string>
            </dict>
            <key>k_20_anzhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{302,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,104}}</string>
                <key>sourceSize</key>
                <string>{302,104}</string>
            </dict>
            <key>k_20_anzhuo_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,352},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,34}}</string>
                <key>sourceSize</key>
                <string>{154,34}</string>
            </dict>
            <key>k_20_fier.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,398},{80,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,106}}</string>
                <key>sourceSize</key>
                <string>{80,106}</string>
            </dict>
            <key>k_20_fier2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,154},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>k_20_fires.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,806},{134,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,122}}</string>
                <key>sourceSize</key>
                <string>{134,122}</string>
            </dict>
            <key>k_20_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,781},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,44}}</string>
                <key>sourceSize</key>
                <string>{116,44}</string>
            </dict>
            <key>k_20_grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,735},{96,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,44}}</string>
                <key>sourceSize</key>
                <string>{96,44}</string>
            </dict>
            <key>k_20_grassland.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{1200,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,208}}</string>
                <key>sourceSize</key>
                <string>{1200,208}</string>
            </dict>
            <key>k_20_icebottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,835},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>k_20_icebottle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,480},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,110}}</string>
                <key>sourceSize</key>
                <string>{128,110}</string>
            </dict>
            <key>k_20_icebottle_ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,184},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>k_20_icebottle_ice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,210},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>k_20_man1.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,668},{136,199}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,199}}</string>
                <key>sourceSize</key>
                <string>{136,201}</string>
            </dict>
            <key>k_20_man1_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,687},{177,62}}</string>
                <key>offset</key>
                <string>{14,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,164},{177,62}}</string>
                <key>sourceSize</key>
                <string>{205,226}</string>
            </dict>
            <key>k_20_man1_dieice.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,456},{177,62}}</string>
                <key>offset</key>
                <string>{14,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,164},{177,62}}</string>
                <key>sourceSize</key>
                <string>{205,226}</string>
            </dict>
            <key>k_20_man1_face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,610},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{54,42}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>k_20_man1_face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,789},{54,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>k_20_man1_face3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,781},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>k_20_man1_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,866},{135,196}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,196}}</string>
                <key>sourceSize</key>
                <string>{137,198}</string>
            </dict>
            <key>k_20_man1_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,738},{136,197}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,197}}</string>
                <key>sourceSize</key>
                <string>{142,199}</string>
            </dict>
            <key>k_20_man1_firedie.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,508},{177,62}}</string>
                <key>offset</key>
                <string>{14,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,164},{177,62}}</string>
                <key>sourceSize</key>
                <string>{205,226}</string>
            </dict>
            <key>k_20_man1_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,392},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>k_20_man_icedie.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,601},{135,201}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,201}}</string>
                <key>sourceSize</key>
                <string>{137,203}</string>
            </dict>
            <key>k_20_man_icedie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,392},{136,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,202}}</string>
                <key>sourceSize</key>
                <string>{136,206}</string>
            </dict>
            <key>k_20_man_icedie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1899},{136,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,202}}</string>
                <key>sourceSize</key>
                <string>{136,204}</string>
            </dict>
            <key>k_20_man_icedie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,464},{135,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{135,202}}</string>
                <key>sourceSize</key>
                <string>{137,206}</string>
            </dict>
            <key>k_20_man_iceknokdie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{135,227}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,227}}</string>
                <key>sourceSize</key>
                <string>{145,227}</string>
            </dict>
            <key>k_20_man_icelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{22,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,150}}</string>
                <key>sourceSize</key>
                <string>{22,150}</string>
            </dict>
            <key>k_20_man_waterdie.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,530},{136,201}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,201}}</string>
                <key>sourceSize</key>
                <string>{140,201}</string>
            </dict>
            <key>k_20_man_waterdie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,610},{177,102}}</string>
                <key>offset</key>
                <string>{14,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,124},{177,102}}</string>
                <key>sourceSize</key>
                <string>{205,226}</string>
            </dict>
            <key>k_20_man_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1899},{136,204}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,204}}</string>
                <key>sourceSize</key>
                <string>{140,204}</string>
            </dict>
            <key>k_20_swing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,835},{48,152}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,152}}</string>
                <key>sourceSize</key>
                <string>{48,166}</string>
            </dict>
            <key>k_20_swing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,712},{48,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,166}}</string>
                <key>sourceSize</key>
                <string>{48,166}</string>
            </dict>
            <key>k_20_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,84},{146,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,98}}</string>
                <key>sourceSize</key>
                <string>{146,98}</string>
            </dict>
            <key>k_20_water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,184},{150,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,212}}</string>
                <key>sourceSize</key>
                <string>{150,212}</string>
            </dict>
            <key>k_20_waterbottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,635},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>k_20_waterbottle_hotwater.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,478},{174,71}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,71}}</string>
                <key>sourceSize</key>
                <string>{174,153}</string>
            </dict>
            <key>k_20_waterbottle_hotwater2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,654},{174,69}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,69}}</string>
                <key>sourceSize</key>
                <string>{174,153}</string>
            </dict>
            <key>k_20_waterbottle_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,372},{122,24}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{122,24}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>k_20_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{330,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,96}}</string>
                <key>sourceSize</key>
                <string>{330,96}</string>
            </dict>
            <key>k_20_weixin_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,398},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>k_20_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{82,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,370}}</string>
                <key>sourceSize</key>
                <string>{82,370}</string>
            </dict>
            <key>k_20_wood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{506,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{506,34}}</string>
                <key>sourceSize</key>
                <string>{518,44}</string>
            </dict>
            <key>k_20_wood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,44}}</string>
                <key>sourceSize</key>
                <string>{518,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_20.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adb9f3759aa8e66ece2e44c303925947:1/1$</string>
            <key>textureFileName</key>
            <string>k_20.png</string>
        </dict>
    </dict>
</plist>
