<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>x_01_man_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,262},{74,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,22}}</string>
                <key>sourceSize</key>
                <string>{74,22}</string>
            </dict>
            <key>x_01_man_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,521},{128,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,108}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>x_01_man_head_biaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,400},{97,65}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{97,65}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>x_01_man_head_biaoqing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,521},{105,61}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{105,61}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>x_01_man_head_biaoqing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,532},{107,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{107,105}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>z_01_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{694,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,396}}</string>
                <key>sourceSize</key>
                <string>{694,396}</string>
            </dict>
            <key>z_01_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,482},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>z_01_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,132},{304,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>z_01_change2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,372},{296,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{296,108}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>z_01_cut.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{304,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,128}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>z_01_cut2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,262},{296,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{296,108}}</string>
                <key>sourceSize</key>
                <string>{304,128}</string>
            </dict>
            <key>z_01_eggplant_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,467},{220,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,52}}</string>
                <key>sourceSize</key>
                <string>{220,52}</string>
            </dict>
            <key>z_01_eggplant_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,631},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>z_01_eggplant_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1,1}}</string>
                <key>offset</key>
                <string>{-109.5,25.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{220,52}</string>
            </dict>
            <key>z_01_hot-pepper_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,482},{242,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,48}}</string>
                <key>sourceSize</key>
                <string>{242,48}</string>
            </dict>
            <key>z_01_hot-pepper_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,400},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>z_01_hot-pepper_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1,1}}</string>
                <key>offset</key>
                <string>{-120.5,23.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{242,48}</string>
            </dict>
            <key>z_01_lefthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,472},{549,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,339}}</string>
                <key>sourceSize</key>
                <string>{549,339}</string>
            </dict>
            <key>z_01_lemon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>z_01_lemon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,628},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>z_01_lemon_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1,1}}</string>
                <key>offset</key>
                <string>{-38.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>z_01_potato_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,400},{96,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,68}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>z_01_potato_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,400},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>z_01_potato_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1,1}}</string>
                <key>offset</key>
                <string>{-47.5,33.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{96,68}</string>
            </dict>
            <key>z_01_radish_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,400},{258,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,70}}</string>
                <key>sourceSize</key>
                <string>{258,70}</string>
            </dict>
            <key>z_01_radish_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,400},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,84}}</string>
                <key>sourceSize</key>
                <string>{64,84}</string>
            </dict>
            <key>z_01_radish_transparent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1,1}}</string>
                <key>offset</key>
                <string>{-128.5,35.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{258,72}</string>
            </dict>
            <key>z_01_righthand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{113,518}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{113,518}}</string>
                <key>sourceSize</key>
                <string>{167,518}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CutFood.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd01ebf280c68c415403411b67aa9271:1/1$</string>
            <key>textureFileName</key>
            <string>CutFood.png</string>
        </dict>
    </dict>
</plist>
