<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_CPM_btn_buy_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,378},{190,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,76}}</string>
                <key>sourceSize</key>
                <string>{190,76}</string>
            </dict>
            <key>lottery_CPM_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{520,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,374}}</string>
                <key>sourceSize</key>
                <string>{520,374}</string>
            </dict>
            <key>lottery_animtion_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,374},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,73},{40,34}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lottery_animtion_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,260},{116,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{116,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lottery_animtion_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,269},{140,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,23},{140,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lottery_animtion_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,269},{160,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{160,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lottery_animtion_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,266},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{144,144}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lottery_animtion_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,260},{158,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{158,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lottery_animtion_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,116},{158,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{158,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lottery_animtion_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,116},{178,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{178,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>lottery_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{458,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,112}}</string>
                <key>sourceSize</key>
                <string>{458,112}</string>
            </dict>
            <key>lottery_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,412},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>lottery_btn_puase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,412},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>lottery_btn_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,398},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>lottery_dialog_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,269},{224,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,104}}</string>
                <key>sourceSize</key>
                <string>{224,104}</string>
            </dict>
            <key>lottery_gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,407},{46,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{46,78}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>lottery_gold_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,378},{70,86}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>lottery_gold_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,375},{72,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{72,78}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>lottery_gold_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,398},{56,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{56,80}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>lottery_gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,407},{46,80}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{46,80}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>lottery_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{488,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,265}}</string>
                <key>sourceSize</key>
                <string>{488,265}</string>
            </dict>
            <key>lottery_man_eye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,411},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>lottery_man_eye_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,411},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>lottery_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,116},{116,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,142}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>lottery_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,476}}</string>
                <key>sourceSize</key>
                <string>{480,476}</string>
            </dict>
            <key>lottery_tip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,378},{74,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,122}}</string>
                <key>sourceSize</key>
                <string>{74,122}</string>
            </dict>
            <key>lottery_tip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,375},{70,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,122}}</string>
                <key>sourceSize</key>
                <string>{74,122}</string>
            </dict>
            <key>lottery_tip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,378},{70,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,122}}</string>
                <key>sourceSize</key>
                <string>{74,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turnplate.png</string>
            <key>size</key>
            <string>{1956,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef745c4c50af8ace79a8c4c7c2e370db:1/1$</string>
            <key>textureFileName</key>
            <string>turnplate.png</string>
        </dict>
    </dict>
</plist>
