<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>select_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,640}}</string>
                <key>sourceSize</key>
                <string>{1200,640}</string>
            </dict>
            <key>select_level_btn_AD_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1204},{180,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,128}}</string>
                <key>sourceSize</key>
                <string>{180,128}</string>
            </dict>
            <key>select_level_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1252},{168,158}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,158}}</string>
                <key>sourceSize</key>
                <string>{170,158}</string>
            </dict>
            <key>select_level_btn_community_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,234},{16,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,108}}</string>
                <key>sourceSize</key>
                <string>{16,108}</string>
            </dict>
            <key>select_level_btn_lottery_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1386},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>select_level_btn_share_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,32},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>select_level_deblocking.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,254},{278,212}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,212}}</string>
                <key>sourceSize</key>
                <string>{284,222}</string>
            </dict>
            <key>select_level_feces.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,100},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>select_level_figure.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{178,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{178,28}}</string>
                <key>sourceSize</key>
                <string>{180,28}</string>
            </dict>
            <key>select_level_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,32},{280,220}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{280,220}}</string>
                <key>sourceSize</key>
                <string>{284,222}</string>
            </dict>
            <key>select_level_left_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,468},{278,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,210}}</string>
                <key>sourceSize</key>
                <string>{278,210}</string>
            </dict>
            <key>select_level_more_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1064},{244,186}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{244,186}}</string>
                <key>sourceSize</key>
                <string>{284,222}</string>
            </dict>
            <key>select_level_more_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,680},{268,192}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{268,192}}</string>
                <key>sourceSize</key>
                <string>{284,222}</string>
            </dict>
            <key>select_level_more_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{242,196}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{242,196}}</string>
                <key>sourceSize</key>
                <string>{284,222}</string>
            </dict>
            <key>select_level_more_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1204},{242,186}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{242,186}}</string>
                <key>sourceSize</key>
                <string>{284,222}</string>
            </dict>
            <key>select_level_next_page_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1252},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>select_level_next_page_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1386},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>select_level_point_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,208},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>select_level_point_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,182},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>select_level_right_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,874},{264,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,188}}</string>
                <key>sourceSize</key>
                <string>{264,188}</string>
            </dict>
            <key>select_level_sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,162},{1200,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,54}}</string>
                <key>sourceSize</key>
                <string>{1200,54}</string>
            </dict>
            <key>select_level_work.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{342,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,28}}</string>
                <key>sourceSize</key>
                <string>{342,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>select.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f905878fd8ee96b729e6a2dfa8e3da0a:1/1$</string>
            <key>textureFileName</key>
            <string>select.png</string>
        </dict>
    </dict>
</plist>
