<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{1200,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,640}}</string>
                <key>sourceSize</key>
                <string>{1200,640}</string>
            </dict>
            <key>com_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{1200,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,640}}</string>
                <key>sourceSize</key>
                <string>{1200,640}</string>
            </dict>
            <key>com_boom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,1416},{456,384}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{456,384}}</string>
                <key>sourceSize</key>
                <string>{490,410}</string>
            </dict>
            <key>com_boom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1016},{292,246}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,82},{292,246}}</string>
                <key>sourceSize</key>
                <string>{490,410}</string>
            </dict>
            <key>com_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1204},{92,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>com_btn_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1182},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>com_btn_purple_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1286},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>com_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1016},{164,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{164,62}}</string>
                <key>sourceSize</key>
                <string>{168,64}</string>
            </dict>
            <key>com_grassland1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,912},{1192,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{1192,102}}</string>
                <key>sourceSize</key>
                <string>{1200,102}</string>
            </dict>
            <key>com_grassland2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,702},{1200,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,208}}</string>
                <key>sourceSize</key>
                <string>{1200,208}</string>
            </dict>
            <key>com_road.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{1200,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{1200,370}}</string>
                <key>sourceSize</key>
                <string>{1200,380}</string>
            </dict>
            <key>com_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1416},{476,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,388}}</string>
                <key>sourceSize</key>
                <string>{476,388}</string>
            </dict>
            <key>com_tip_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1204},{220,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,80}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>com_tip_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1204},{214,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{214,70}}</string>
                <key>sourceSize</key>
                <string>{220,80}</string>
            </dict>
            <key>com_tudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1340,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1340,192}}</string>
                <key>sourceSize</key>
                <string>{1340,192}</string>
            </dict>
            <key>com_tudi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,374},{1200,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,326}}</string>
                <key>sourceSize</key>
                <string>{1200,326}</string>
            </dict>
            <key>normal_game_grade_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1286},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1252},{46,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1286},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1894},{44,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1204},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1286},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1286},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_next_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1270},{330,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,48}}</string>
                <key>sourceSize</key>
                <string>{330,48}</string>
            </dict>
            <key>normal_game_win_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1942},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>normal_game_win_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1286},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>notice_board_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1204},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>notice_board_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,1016},{598,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,398}}</string>
                <key>sourceSize</key>
                <string>{598,398}</string>
            </dict>
            <key>notice_board_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1310},{404,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,18}}</string>
                <key>sourceSize</key>
                <string>{404,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com.png</string>
            <key>size</key>
            <string>{2040,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af69c9cb758b085d71b104a25302661a:1/1$</string>
            <key>textureFileName</key>
            <string>com.png</string>
        </dict>
    </dict>
</plist>
