<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>z_02_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{778,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{778,640}}</string>
			<key>sourceSize</key>
			<string>{778,640}</string>
		</dict>
		<key>z_02_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,0},{727,625}}</string>
			<key>offset</key>
			<string>{9,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,15},{727,625}}</string>
			<key>sourceSize</key>
			<string>{778,640}</string>
		</dict>
		<key>z_02_blood.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,779},{80,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,58}}</string>
			<key>sourceSize</key>
			<string>{80,58}</string>
		</dict>
		<key>z_02_man.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,876},{80,118}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{80,118}}</string>
			<key>sourceSize</key>
			<string>{92,118}</string>
		</dict>
		<key>z_02_man2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,876},{79,117}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,1},{79,117}}</string>
			<key>sourceSize</key>
			<string>{92,118}</string>
		</dict>
		<key>z_02_tough.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,626},{719,249}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{719,249}}</string>
			<key>sourceSize</key>
			<string>{720,250}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FindGap.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>FindGap.png</string>
	</dict>
</dict>
</plist>
