<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_23_-text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{82,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{82,42}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>k_23_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{1200,246}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{1200,246}}</string>
                <key>sourceSize</key>
                <string>{1200,250}</string>
            </dict>
            <key>k_23_blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{574,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{574,576}}</string>
                <key>sourceSize</key>
                <string>{580,580}</string>
            </dict>
            <key>k_23_car.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,320},{390,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{390,182}}</string>
                <key>sourceSize</key>
                <string>{400,190}</string>
            </dict>
            <key>k_23_doge.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,724},{76,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>k_23_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{152,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{152,114}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>k_23_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1374},{170,206}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{170,206}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_jump2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1174},{208,198}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,33},{208,198}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_jump3.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1148},{208,204}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{208,204}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_jump4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1052},{242,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{242,208}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_jump5.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,536},{142,194}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,40},{142,194}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_jump6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1354},{136,196}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,38},{136,196}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_jump7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,820},{210,218}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{210,218}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_jump8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,578},{224,240}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{224,240}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_jump9.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,946},{200,186}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,66},{200,186}}</string>
                <key>sourceSize</key>
                <string>{250,260}</string>
            </dict>
            <key>k_23_lalaball.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,800},{76,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{76,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>k_23_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{316,398}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{316,398}}</string>
                <key>sourceSize</key>
                <string>{320,400}</string>
            </dict>
            <key>k_23_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,504},{292,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{292,130}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>k_23_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,636},{284,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{284,130}}</string>
                <key>sourceSize</key>
                <string>{300,140}</string>
            </dict>
            <key>k_23_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,636},{86,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{86,222}}</string>
                <key>sourceSize</key>
                <string>{90,230}</string>
            </dict>
            <key>k_23_oilbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1032},{140,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{140,278}}</string>
                <key>sourceSize</key>
                <string>{150,290}</string>
            </dict>
            <key>k_23_oilbox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,910},{140,278}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,278}}</string>
                <key>sourceSize</key>
                <string>{140,280}</string>
            </dict>
            <key>k_23_oilbox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,768},{140,278}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,278}}</string>
                <key>sourceSize</key>
                <string>{140,280}</string>
            </dict>
            <key>k_23_oilbox_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,300},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{58,36}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>k_23_oilbox_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,504},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{64,30}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>k_23_oilbox_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,470},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{64,34}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>k_23_oilbox_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,272},{40,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{40,26}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>k_23_oilbox_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,414},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{50,28}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>k_23_oilbox_text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,444},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{46,24}}</string>
                <key>sourceSize</key>
                <string>{70,50}</string>
            </dict>
            <key>k_23_oilman.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1262},{128,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,208}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>k_23_oilman_face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,360},{50,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{50,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>k_23_oilman_face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,578},{56,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{56,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>k_23_text2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,86},{184,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{184,40}}</string>
                <key>sourceSize</key>
                <string>{190,50}</string>
            </dict>
            <key>k_23_text3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1934},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{104,28}}</string>
                <key>sourceSize</key>
                <string>{110,30}</string>
            </dict>
            <key>k_23_text4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,874},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,28}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>k_23_text5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,578},{54,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{70,30}</string>
            </dict>
            <key>k_23_text6.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,732},{212,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{212,160}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_23.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef407be5d4cf09bdd24b212dc2923b25:1/1$</string>
            <key>textureFileName</key>
            <string>k_23.png</string>
        </dict>
    </dict>
</plist>
