<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>k_11_btn_attack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1947,1037},{156,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,92}}</string>
			<key>sourceSize</key>
			<string>{156,92}</string>
		</dict>
		<key>k_11_btn_attack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1815,833},{146,84}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{146,84}}</string>
			<key>sourceSize</key>
			<string>{156,92}</string>
		</dict>
		<key>k_11_btn_left1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1967,639},{80,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,78}}</string>
			<key>sourceSize</key>
			<string>{80,78}</string>
		</dict>
		<key>k_11_btn_left2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1973,481},{74,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{74,70}}</string>
			<key>sourceSize</key>
			<string>{80,78}</string>
		</dict>
		<key>k_11_btn_right1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1967,557},{80,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,78}}</string>
			<key>sourceSize</key>
			<string>{80,78}</string>
		</dict>
		<key>k_11_btn_right2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1973,405},{74,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{74,70}}</string>
			<key>sourceSize</key>
			<string>{80,78}</string>
		</dict>
		<key>k_11_flag.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{292,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,248}}</string>
			<key>sourceSize</key>
			<string>{292,248}</string>
		</dict>
		<key>k_11_man1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1252,972},{116,199}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,199}}</string>
			<key>sourceSize</key>
			<string>{128,199}</string>
		</dict>
		<key>k_11_man2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1051,972},{116,199}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,199}}</string>
			<key>sourceSize</key>
			<string>{128,199}</string>
		</dict>
		<key>k_11_man3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1801,919},{116,199}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,199}}</string>
			<key>sourceSize</key>
			<string>{128,199}</string>
		</dict>
		<key>k_11_man4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1600,917},{116,199}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,199}}</string>
			<key>sourceSize</key>
			<string>{128,199}</string>
		</dict>
		<key>k_11_man5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1766,1037},{116,179}}</string>
			<key>offset</key>
			<string>{-4,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,20},{116,179}}</string>
			<key>sourceSize</key>
			<string>{128,199}</string>
		</dict>
		<key>k_11_man6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,1035},{112,195}}</string>
			<key>offset</key>
			<string>{-8,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{112,195}}</string>
			<key>sourceSize</key>
			<string>{128,199}</string>
		</dict>
		<key>k_11_man_attack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1399,876},{128,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,199}}</string>
			<key>sourceSize</key>
			<string>{128,199}</string>
		</dict>
		<key>k_11_man_fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{1370,1124},{116,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{116,193}}</string>
			<key>sourceSize</key>
			<string>{116,201}</string>
		</dict>
		<key>k_11_man_fail2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1370,1006},{116,197}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,197}}</string>
			<key>sourceSize</key>
			<string>{116,201}</string>
		</dict>
		<key>k_11_man_fly.png</key>
		<dict>
			<key>frame</key>
			<string>{{1565,1149},{114,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,107}}</string>
			<key>sourceSize</key>
			<string>{114,107}</string>
		</dict>
		<key>k_11_man_jump.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,916},{86,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,208}}</string>
			<key>sourceSize</key>
			<string>{86,208}</string>
		</dict>
		<key>k_11_man_slive.png</key>
		<dict>
			<key>frame</key>
			<string>{{1613,833},{200,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,82}}</string>
			<key>sourceSize</key>
			<string>{200,82}</string>
		</dict>
		<key>k_11_man_stick.png</key>
		<dict>
			<key>frame</key>
			<string>{{1670,2},{354,401}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{354,401}}</string>
			<key>sourceSize</key>
			<string>{354,401}</string>
		</dict>
		<key>k_11_man_win.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,954},{106,200}}</string>
			<key>offset</key>
			<string>{-5,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{106,200}}</string>
			<key>sourceSize</key>
			<string>{116,214}</string>
		</dict>
		<key>k_11_man_win2.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,826},{88,210}}</string>
			<key>offset</key>
			<string>{-14,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{88,210}}</string>
			<key>sourceSize</key>
			<string>{116,214}</string>
		</dict>
		<key>k_11_mmist.png</key>
		<dict>
			<key>frame</key>
			<string>{{1613,626},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>k_11_stage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{842,402}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{842,402}}</string>
			<key>sourceSize</key>
			<string>{842,402}</string>
		</dict>
		<key>k_11_stage_crowd1.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,300},{822,296}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{822,296}}</string>
			<key>sourceSize</key>
			<string>{822,296}</string>
		</dict>
		<key>k_11_stage_crowd2.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,2},{822,296}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{822,296}}</string>
			<key>sourceSize</key>
			<string>{822,296}</string>
		</dict>
		<key>k_11_strongman1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,598},{214,276}}</string>
			<key>offset</key>
			<string>{6,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,16},{214,276}}</string>
			<key>sourceSize</key>
			<string>{226,292}</string>
		</dict>
		<key>k_11_strongman2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1399,598},{212,276}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,16},{212,276}}</string>
			<key>sourceSize</key>
			<string>{226,292}</string>
		</dict>
		<key>k_11_strongman_WALK.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,925},{214,276}}</string>
			<key>offset</key>
			<string>{6,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,16},{214,276}}</string>
			<key>sourceSize</key>
			<string>{226,292}</string>
		</dict>
		<key>k_11_strongman_attack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,598},{226,278}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{226,278}}</string>
			<key>sourceSize</key>
			<string>{226,292}</string>
		</dict>
		<key>k_11_strongman_attack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,864},{218,276}}</string>
			<key>offset</key>
			<string>{4,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,16},{218,276}}</string>
			<key>sourceSize</key>
			<string>{226,292}</string>
		</dict>
		<key>k_11_strongman_attack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,814},{156,276}}</string>
			<key>offset</key>
			<string>{35,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,16},{156,276}}</string>
			<key>sourceSize</key>
			<string>{226,292}</string>
		</dict>
		<key>k_11_strongman_die.png</key>
		<dict>
			<key>frame</key>
			<string>{{1670,405},{301,150}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,15},{301,150}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>k_11_strongman_face.png</key>
		<dict>
			<key>frame</key>
			<string>{{1967,721},{62,44}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,4},{62,44}}</string>
			<key>sourceSize</key>
			<string>{100,60}</string>
		</dict>
		<key>k_11_strongman_face1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1613,598},{44,26}}</string>
			<key>offset</key>
			<string>{-7,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,10},{44,26}}</string>
			<key>sourceSize</key>
			<string>{100,60}</string>
		</dict>
		<key>k_11_strongman_face2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1967,767},{100,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,60}}</string>
			<key>sourceSize</key>
			<string>{100,60}</string>
		</dict>
		<key>k_11_strongman_wind1.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,635},{227,286}}</string>
			<key>offset</key>
			<string>{-28,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{227,286}}</string>
			<key>sourceSize</key>
			<string>{295,292}</string>
		</dict>
		<key>k_11_strongman_wind2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,656},{267,278}}</string>
			<key>offset</key>
			<string>{-14,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{267,278}}</string>
			<key>sourceSize</key>
			<string>{295,292}</string>
		</dict>
		<key>k_11_strongman_wind3.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,406},{227,286}}</string>
			<key>offset</key>
			<string>{34,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,5},{227,286}}</string>
			<key>sourceSize</key>
			<string>{295,292}</string>
		</dict>
		<key>k_11_strongman_wind4.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,680},{255,272}}</string>
			<key>offset</key>
			<string>{-20,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{255,272}}</string>
			<key>sourceSize</key>
			<string>{295,292}</string>
		</dict>
		<key>k_11_strongman_wind5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1670,557},{295,274}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,13},{295,274}}</string>
			<key>sourceSize</key>
			<string>{295,292}</string>
		</dict>
		<key>k_11_strongman_wind6.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,406},{255,272}}</string>
			<key>offset</key>
			<string>{-12,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{255,272}}</string>
			<key>sourceSize</key>
			<string>{295,292}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>k_11.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5aeb8ed52d40d58f5197a0992365b2e8:1/1$</string>
		<key>textureFileName</key>
		<string>k_11.png</string>
	</dict>
</dict>
</plist>
