<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>market_ios_btn_AD.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,746},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>market_ios_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,504},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>market_ios_btn_deblocking.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,602},{142,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,138}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>market_ios_btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,602},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>market_ios_btn_strategy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{142,140}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>market_ios_cool_gold_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,460},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>market_ios_cool_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,368},{110,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>market_ios_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,496}}</string>
                <key>sourceSize</key>
                <string>{776,496}</string>
            </dict>
            <key>market_ios_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,480},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>market_ios_get_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,60},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>market_ios_gold_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,318},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>market_ios_gold_icon_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,480},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>market_ios_gold_icon_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,108},{78,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,56}}</string>
                <key>sourceSize</key>
                <string>{78,56}</string>
            </dict>
            <key>market_ios_gold_icon_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>market_ios_gold_icon_600.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,310},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>market_ios_handsome_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,188},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>market_ios_selecte_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{158,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,180}}</string>
                <key>sourceSize</key>
                <string>{158,180}</string>
            </dict>
            <key>market_ios_selecte_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,162},{158,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,154}}</string>
                <key>sourceSize</key>
                <string>{158,154}</string>
            </dict>
            <key>market_ios_title_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{256,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,122}}</string>
                <key>sourceSize</key>
                <string>{256,122}</string>
            </dict>
            <key>market_ios_title_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,274},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>marketios.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9f5b65506ef80992b86a75953647fee:1/1$</string>
            <key>textureFileName</key>
            <string>marketios.png</string>
        </dict>
    </dict>
</plist>
