<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_10_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,482},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>k_10_chair.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{108,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,254}}</string>
                <key>sourceSize</key>
                <string>{108,254}</string>
            </dict>
            <key>k_10_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,640},{176,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,204}}</string>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>k_10_desk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,640},{176,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,204}}</string>
                <key>sourceSize</key>
                <string>{176,204}</string>
            </dict>
            <key>k_10_desk2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,490},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>k_10_desk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{834,524}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{834,524}}</string>
                <key>sourceSize</key>
                <string>{836,526}</string>
            </dict>
            <key>k_10_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,794},{16,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,126}}</string>
                <key>sourceSize</key>
                <string>{16,126}</string>
            </dict>
            <key>k_10_hao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,330},{70,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,82}}</string>
                <key>sourceSize</key>
                <string>{70,82}</string>
            </dict>
            <key>k_10_head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,414},{82,92}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,92}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>k_10_head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,378},{80,102}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>k_10_head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,330},{82,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,92}}</string>
                <key>sourceSize</key>
                <string>{84,94}</string>
            </dict>
            <key>k_10_head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,414},{88,92}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,92}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>k_10_line_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{1200,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,6}}</string>
                <key>sourceSize</key>
                <string>{1200,6}</string>
            </dict>
            <key>k_10_line_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,288},{6,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{6,66}}</string>
                <key>sourceSize</key>
                <string>{8,68}</string>
            </dict>
            <key>k_10_man_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{176,260}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,260}}</string>
                <key>sourceSize</key>
                <string>{178,262}</string>
            </dict>
            <key>k_10_man_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,536},{44,42}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>k_10_man_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,288},{38,42}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>k_10_man_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,192},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>k_10_man_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,756},{38,44}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>k_10_man_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{254,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{254,188}}</string>
                <key>sourceSize</key>
                <string>{254,190}</string>
            </dict>
            <key>k_10_man_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,536},{296,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,98}}</string>
                <key>sourceSize</key>
                <string>{296,98}</string>
            </dict>
            <key>k_10_man_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,192},{296,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,98}}</string>
                <key>sourceSize</key>
                <string>{296,98}</string>
            </dict>
            <key>k_10_man_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,536},{296,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,98}}</string>
                <key>sourceSize</key>
                <string>{296,98}</string>
            </dict>
            <key>k_10_man_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,192},{90,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,184}}</string>
                <key>sourceSize</key>
                <string>{90,184}</string>
            </dict>
            <key>k_10_pendant.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{554,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,102}}</string>
                <key>sourceSize</key>
                <string>{554,102}</string>
            </dict>
            <key>k_10_star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,258},{114,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,70}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>k_10_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,636},{118,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,80}}</string>
                <key>sourceSize</key>
                <string>{120,82}</string>
            </dict>
            <key>k_10_word_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,794},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>k_10_word_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,580},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>k_10_word_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,514},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>k_10_word_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,794},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>k_10_word_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,482},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>k_10_word_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,580},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>k_10_word_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,258},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>k_10_word_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,794},{22,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,10}}</string>
                <key>sourceSize</key>
                <string>{22,10}</string>
            </dict>
            <key>k_24_knife.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,636},{170,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,166}}</string>
                <key>sourceSize</key>
                <string>{170,166}</string>
            </dict>
            <key>zhuantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,636},{204,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{204,156}}</string>
                <key>sourceSize</key>
                <string>{212,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_10.png</string>
            <key>size</key>
            <string>{1204,818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6b067deba2610795358a8bcdd54762d:1/1$</string>
            <key>textureFileName</key>
            <string>k_10.png</string>
        </dict>
    </dict>
</plist>
