<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>market_Android_btn_buy_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{190,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,76}}</string>
                <key>sourceSize</key>
                <string>{190,76}</string>
            </dict>
            <key>market_Android_btn_buy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,529},{124,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,40}}</string>
                <key>sourceSize</key>
                <string>{124,40}</string>
            </dict>
            <key>market_Android_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,452},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>market_Android_btn_deblocking.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,254},{112,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,94}}</string>
                <key>sourceSize</key>
                <string>{112,94}</string>
            </dict>
            <key>market_Android_cool_gold_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,492},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>market_Android_cool_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,368},{100,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>market_Android_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{776,496}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{776,496}}</string>
                <key>sourceSize</key>
                <string>{776,496}</string>
            </dict>
            <key>market_Android_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,488},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>market_Android_get_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,58},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>market_Android_gold_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,366},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>market_Android_gold_icon_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,614},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,54}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>market_Android_gold_icon_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,452},{80,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>market_Android_gold_icon_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>market_Android_gold_icon_400.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,194},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>market_Android_handsome_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,112},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>market_Android_return_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,554},{58,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,62}}</string>
                <key>sourceSize</key>
                <string>{58,64}</string>
            </dict>
            <key>market_Android_selecte_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,80},{144,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,164}}</string>
                <key>sourceSize</key>
                <string>{144,164}</string>
            </dict>
            <key>market_Android_selecte_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,226},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>market_Android_title_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{255,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,122}}</string>
                <key>sourceSize</key>
                <string>{255,122}</string>
            </dict>
            <key>market_Android_title_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,518},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>marketandroid.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98dbfe3f913ee1c251a6ddf973cd5617:1/1$</string>
            <key>textureFileName</key>
            <string>marketandroid.png</string>
        </dict>
    </dict>
</plist>
