<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{576,384}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{576,384}}</string>
                <key>sourceSize</key>
                <string>{580,390}</string>
            </dict>
            <key>normal_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,640}}</string>
                <key>sourceSize</key>
                <string>{1200,640}</string>
            </dict>
            <key>normal_game_blink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,644},{254,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,186}}</string>
                <key>sourceSize</key>
                <string>{256,188}</string>
            </dict>
            <key>normal_game_blink_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{252,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,188}}</string>
                <key>sourceSize</key>
                <string>{256,188}</string>
            </dict>
            <key>normal_game_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,436},{134,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,34}}</string>
                <key>sourceSize</key>
                <string>{134,34}</string>
            </dict>
            <key>normal_game_grade_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,484},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,580},{46,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,436},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,388},{44,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,572},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,532},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_grade_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,388},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>normal_game_run.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,388},{480,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,476}}</string>
                <key>sourceSize</key>
                <string>{480,476}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal_game.png</string>
            <key>size</key>
            <string>{1782,866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892ae888ee8568c97dac65a7e44c430b:1/1$</string>
            <key>textureFileName</key>
            <string>normal_game.png</string>
        </dict>
    </dict>
</plist>
