<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,1204},{92,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,98}</string>
            </dict>
            <key>game_btn_free_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1984},{56,128}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{56,128}}</string>
                <key>sourceSize</key>
                <string>{60,136}</string>
            </dict>
            <key>game_btn_free_gold_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,1684},{56,128}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{56,128}}</string>
                <key>sourceSize</key>
                <string>{60,136}</string>
            </dict>
            <key>game_btn_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1772},{167,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,76}}</string>
                <key>sourceSize</key>
                <string>{167,76}</string>
            </dict>
            <key>game_btn_gold_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1982},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>game_btn_help_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,1861},{49,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{49,61}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>game_btn_hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1788},{161,70}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{161,70}}</string>
                <key>sourceSize</key>
                <string>{167,76}</string>
            </dict>
            <key>game_btn_pause_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1834},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{39,47}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>game_btn_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1852},{161,70}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{161,70}}</string>
                <key>sourceSize</key>
                <string>{167,76}</string>
            </dict>
            <key>game_btn_strategy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1984},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>game_send_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1896},{59,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,21}}</string>
                <key>sourceSize</key>
                <string>{59,21}</string>
            </dict>
            <key>home_bg_grassland.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{1200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,200}}</string>
                <key>sourceSize</key>
                <string>{1200,200}</string>
            </dict>
            <key>home_bg_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{1200,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,100}}</string>
                <key>sourceSize</key>
                <string>{1200,100}</string>
            </dict>
            <key>home_bg_mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{1200,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,320}}</string>
                <key>sourceSize</key>
                <string>{1200,320}</string>
            </dict>
            <key>home_bg_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{1200,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,640}}</string>
                <key>sourceSize</key>
                <string>{1200,640}</string>
            </dict>
            <key>home_btn_AD_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1814},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>home_btn_game_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1883},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>home_btn_game_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,1994},{52,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>home_btn_idea.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1440},{136,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,85}}</string>
                <key>sourceSize</key>
                <string>{136,85}</string>
            </dict>
            <key>home_btn_market.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1936},{110,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,76}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>home_btn_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,1302},{136,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,85}}</string>
                <key>sourceSize</key>
                <string>{136,85}</string>
            </dict>
            <key>home_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1710},{272,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,146}}</string>
                <key>sourceSize</key>
                <string>{272,146}</string>
            </dict>
            <key>home_btn_strategy_demon.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1992},{46,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>home_btn_strategy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1852},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>home_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1984},{114,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,62}}</string>
                <key>sourceSize</key>
                <string>{114,62}</string>
            </dict>
            <key>home_goblins_01.gif</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1690},{142,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{142,182}}</string>
                <key>sourceSize</key>
                <string>{198,196}</string>
            </dict>
            <key>home_goblins_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1402},{170,176}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{170,176}}</string>
                <key>sourceSize</key>
                <string>{198,200}</string>
            </dict>
            <key>home_goblins_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1710},{156,184}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{156,184}}</string>
                <key>sourceSize</key>
                <string>{198,200}</string>
            </dict>
            <key>home_goblins_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1204},{174,196}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{174,196}}</string>
                <key>sourceSize</key>
                <string>{198,200}</string>
            </dict>
            <key>home_person_old_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1821,1688},{98,154}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{98,154}}</string>
                <key>sourceSize</key>
                <string>{108,174}</string>
            </dict>
            <key>home_person_old_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1896},{94,150}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{94,150}}</string>
                <key>sourceSize</key>
                <string>{108,174}</string>
            </dict>
            <key>home_person_red_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1580},{106,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{106,156}}</string>
                <key>sourceSize</key>
                <string>{120,166}</string>
            </dict>
            <key>home_person_red_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,1834},{106,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{106,158}}</string>
                <key>sourceSize</key>
                <string>{120,166}</string>
            </dict>
            <key>home_person_red_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1924},{112,156}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{112,156}}</string>
                <key>sourceSize</key>
                <string>{120,166}</string>
            </dict>
            <key>home_person_red_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1924},{112,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{112,156}}</string>
                <key>sourceSize</key>
                <string>{120,166}</string>
            </dict>
            <key>home_person_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,1850},{80,128}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{80,128}}</string>
                <key>sourceSize</key>
                <string>{94,138}</string>
            </dict>
            <key>home_person_yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1860},{74,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{74,130}}</string>
                <key>sourceSize</key>
                <string>{94,138}</string>
            </dict>
            <key>home_person_yellow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1850},{80,130}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{80,130}}</string>
                <key>sourceSize</key>
                <string>{94,138}</string>
            </dict>
            <key>home_title_hand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,1578},{104,66}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,66}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>home_title_hand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1919,1860},{112,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,70}}</string>
                <key>sourceSize</key>
                <string>{112,70}</string>
            </dict>
            <key>home_title_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{498,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,272}}</string>
                <key>sourceSize</key>
                <string>{498,272}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{1200,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,640}}</string>
                <key>sourceSize</key>
                <string>{1200,640}</string>
            </dict>
            <key>loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,640}}</string>
                <key>sourceSize</key>
                <string>{1200,640}</string>
            </dict>
            <key>loading_btn_AD_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1984},{62,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,148}}</string>
                <key>sourceSize</key>
                <string>{62,148}</string>
            </dict>
            <key>loading_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1690},{196,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,80}}</string>
                <key>sourceSize</key>
                <string>{196,80}</string>
            </dict>
            <key>loading_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1204},{572,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,412}}</string>
                <key>sourceSize</key>
                <string>{572,412}</string>
            </dict>
            <key>loading_level_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,1690},{176,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,160}}</string>
                <key>sourceSize</key>
                <string>{176,160}</string>
            </dict>
            <key>loading_man_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1710},{451,280}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,280}}</string>
                <key>sourceSize</key>
                <string>{453,280}</string>
            </dict>
            <key>loading_man_eyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1992},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,36}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>loading_man_eyes_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,1936},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>loading_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1984},{144,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,48}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>pause_btn_AD.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1992},{59,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{59,41}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>pause_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1992},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{45,39}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>pause_btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,1924},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{47,47}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>pause_btn_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,1994},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{51,37}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>pause_btn_music_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1992},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{43,45}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>pause_btn_music_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,1814},{45,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{45,45}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>pause_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1618},{610,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,70}}</string>
                <key>sourceSize</key>
                <string>{610,70}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2037,1440},{9,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,11}}</string>
                <key>sourceSize</key>
                <string>{9,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a79a31d6a21b0bebfdf53b06e594eba:1/1$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
