<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_16_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1200,450}}</string>
                <key>sourceSize</key>
                <string>{1200,450}</string>
            </dict>
            <key>k_16_bird_act.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,54},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>k_16_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{233,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,50}}</string>
                <key>sourceSize</key>
                <string>{233,50}</string>
            </dict>
            <key>k_16_ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,252},{86,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,126}}</string>
                <key>sourceSize</key>
                <string>{86,126}</string>
            </dict>
            <key>k_16_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,218},{88,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,174}}</string>
                <key>sourceSize</key>
                <string>{88,174}</string>
            </dict>
            <key>k_16_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,360},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>k_16_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,340},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>k_16_man_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,196},{44,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,162}}</string>
                <key>sourceSize</key>
                <string>{44,162}</string>
            </dict>
            <key>k_16_man_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,2},{44,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,162}}</string>
                <key>sourceSize</key>
                <string>{44,162}</string>
            </dict>
            <key>k_16_man_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,218},{86,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,166}}</string>
                <key>sourceSize</key>
                <string>{86,166}</string>
            </dict>
            <key>k_16_man_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,54},{112,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,162}}</string>
                <key>sourceSize</key>
                <string>{112,162}</string>
            </dict>
            <key>k_16_man_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,252},{48,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,158}}</string>
                <key>sourceSize</key>
                <string>{48,158}</string>
            </dict>
            <key>k_16_win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,150},{100,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,152}}</string>
                <key>sourceSize</key>
                <string>{100,152}</string>
            </dict>
            <key>k_16_win_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,48},{100,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,152}}</string>
                <key>sourceSize</key>
                <string>{100,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_16.png</string>
            <key>size</key>
            <string>{1608,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9276181dffd1c91948db920a819e849a:1/1$</string>
            <key>textureFileName</key>
            <string>k_16.png</string>
        </dict>
    </dict>
</plist>
