<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_12_bed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,386}}</string>
                <key>sourceSize</key>
                <string>{336,386}</string>
            </dict>
            <key>k_12_chuizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,190},{140,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,72}}</string>
                <key>sourceSize</key>
                <string>{140,72}</string>
            </dict>
            <key>k_12_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,232},{99,101}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{99,101}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>k_12_clock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,232},{123,101}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,101}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>k_12_clock_miaozhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,322},{21,13}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{21,13}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>k_12_clock_shizhen.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,330},{7,15}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,51},{7,15}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>k_12_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{180,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,176}}</string>
                <key>sourceSize</key>
                <string>{180,176}</string>
            </dict>
            <key>k_12_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{148,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,228}}</string>
                <key>sourceSize</key>
                <string>{148,228}</string>
            </dict>
            <key>k_12_man2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{142,228}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,228}}</string>
                <key>sourceSize</key>
                <string>{148,228}</string>
            </dict>
            <key>k_12_man3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{136,216}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{136,216}}</string>
                <key>sourceSize</key>
                <string>{148,228}</string>
            </dict>
            <key>k_12_man4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{148,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,228}}</string>
                <key>sourceSize</key>
                <string>{148,228}</string>
            </dict>
            <key>k_12_man4_yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,190},{90,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,28}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>k_12_man4_yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,96},{84,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{84,24}}</string>
                <key>sourceSize</key>
                <string>{90,28}</string>
            </dict>
            <key>k_12_man7.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{144,228}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,228}}</string>
                <key>sourceSize</key>
                <string>{148,228}</string>
            </dict>
            <key>k_12_man_bipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,316},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>k_12_man_face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,276},{56,28}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{56,28}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>k_12_man_face1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,182},{38,30}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{38,30}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>k_12_man_face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,214},{60,32}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,19},{60,32}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>k_12_man_face3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,38},{56,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{56,46}}</string>
                <key>sourceSize</key>
                <string>{92,72}</string>
            </dict>
            <key>k_12_man_wake1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{146,226}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{146,226}}</string>
                <key>sourceSize</key>
                <string>{148,228}</string>
            </dict>
            <key>k_12_man_wake2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{146,222}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{146,222}}</string>
                <key>sourceSize</key>
                <string>{148,228}</string>
            </dict>
            <key>k_12_tong.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,232},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>k_12_tong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,232},{98,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{98,90}</string>
            </dict>
            <key>k_12_tv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,184},{154,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,170}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>k_12_tv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,230},{108,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>k_12_tv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,232},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{108,84}</string>
            </dict>
            <key>k_12_tv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,316},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,20}}</string>
                <key>sourceSize</key>
                <string>{62,20}</string>
            </dict>
            <key>k_12_tv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,220},{94,90}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,65},{94,90}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>k_12_tv_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,220},{94,90}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,65},{94,90}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>k_12_tv_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,226},{94,90}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,65},{94,90}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>k_12_tv_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,230},{94,90}}</string>
                <key>offset</key>
                <string>{20,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,65},{94,90}}</string>
                <key>sourceSize</key>
                <string>{154,170}</string>
            </dict>
            <key>k_12_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,232},{144,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,96}}</string>
                <key>sourceSize</key>
                <string>{144,96}</string>
            </dict>
            <key>k_12_water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{154,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,186}}</string>
                <key>sourceSize</key>
                <string>{154,186}</string>
            </dict>
            <key>k_12_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,2},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_12.png</string>
            <key>size</key>
            <string>{1798,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc3c647296d80e6d94dc15f3b6c40786:1/1$</string>
            <key>textureFileName</key>
            <string>k_12.png</string>
        </dict>
    </dict>
</plist>
