<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,952},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,952},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,952},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,762},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,762},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,762},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,572},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,572},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,572},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,382},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,382},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,382},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,192},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,192},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,192},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
            <key>k_icon_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,188}}</string>
                <key>sourceSize</key>
                <string>{248,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{1002,1142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:508b8ba1812f76c014c24091619733c2:1/1$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
