<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_17_act_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,449},{87,97}}</string>
                <key>offset</key>
                <string>{-31,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,70},{87,97}}</string>
                <key>sourceSize</key>
                <string>{211,193}</string>
            </dict>
            <key>k_17_act_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,840},{167,85}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,39},{167,85}}</string>
                <key>sourceSize</key>
                <string>{211,193}</string>
            </dict>
            <key>k_17_act_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,366},{151,81}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{151,81}}</string>
                <key>sourceSize</key>
                <string>{211,193}</string>
            </dict>
            <key>k_17_act_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,838},{163,145}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{163,145}}</string>
                <key>sourceSize</key>
                <string>{211,193}</string>
            </dict>
            <key>k_17_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{832,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{832,348}}</string>
                <key>sourceSize</key>
                <string>{832,348}</string>
            </dict>
            <key>k_17_calendar.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{209,181}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{209,181}}</string>
                <key>sourceSize</key>
                <string>{211,193}</string>
            </dict>
            <key>k_17_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,352},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>k_17_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,449},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>k_17_eyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,366},{51,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,30}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>k_17_eyes_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1003},{19,28}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
            <key>k_17_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,398},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,48}}</string>
                <key>sourceSize</key>
                <string>{102,48}</string>
            </dict>
            <key>k_17_needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,400},{69,93}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{69,93}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>k_17_needles_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,247},{6,24}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,37},{6,24}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>k_17_needles_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,213},{6,32}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{6,32}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>k_17_numbers.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,838},{159,155}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{159,155}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>k_17_page_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,840},{171,151}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{171,151}}</string>
                <key>sourceSize</key>
                <string>{211,193}</string>
            </dict>
            <key>k_17_page_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{171,151}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{171,151}}</string>
                <key>sourceSize</key>
                <string>{211,193}</string>
            </dict>
            <key>k_17_page_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,213},{171,151}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{171,151}}</string>
                <key>sourceSize</key>
                <string>{211,193}</string>
            </dict>
            <key>k_17_pig_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,366},{470,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,308}}</string>
                <key>sourceSize</key>
                <string>{470,308}</string>
            </dict>
            <key>k_17_pig_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{472,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,308}}</string>
                <key>sourceSize</key>
                <string>{472,308}</string>
            </dict>
            <key>k_17_scream.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,517},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>k_17_tail_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,352},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>k_17_tail_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,470},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_17.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8c6e5c7f7076e43e165f5571bc45836:1/1$</string>
            <key>textureFileName</key>
            <string>k_17.png</string>
        </dict>
    </dict>
</plist>
