<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z_03_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1204},{206,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{206,78}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>z_03_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1204},{192,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{192,112}}</string>
                <key>sourceSize</key>
                <string>{206,116}</string>
            </dict>
            <key>z_03_dian_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1596},{116,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{116,118}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>z_03_dian_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1480},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>z_03_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{146,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{146,148}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>z_03_man_dian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{162,186}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{162,186}}</string>
                <key>sourceSize</key>
                <string>{166,196}</string>
            </dict>
            <key>z_03_man_dian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1318},{160,182}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{160,182}}</string>
                <key>sourceSize</key>
                <string>{166,196}</string>
            </dict>
            <key>z_03_man_dian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{118,146}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{118,146}}</string>
                <key>sourceSize</key>
                <string>{166,196}</string>
            </dict>
            <key>z_03_mountain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1200,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1200,404}}</string>
                <key>sourceSize</key>
                <string>{1200,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StonePacker.png</string>
            <key>size</key>
            <string>{408,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:162ef8f0bb4530ae599a4051eade92bb:1/1$</string>
            <key>textureFileName</key>
            <string>StonePacker.png</string>
        </dict>
    </dict>
</plist>
