<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_06_album.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,450},{152,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,172}}</string>
                <key>sourceSize</key>
                <string>{152,172}</string>
            </dict>
            <key>k_06_blingbling.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,912},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>k_06_boom.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,744},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>k_06_chungao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,743},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>k_06_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,450}}</string>
                <key>sourceSize</key>
                <string>{402,450}</string>
            </dict>
            <key>k_06_desk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,326},{150,122}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{150,122}}</string>
                <key>sourceSize</key>
                <string>{168,142}</string>
            </dict>
            <key>k_06_desk_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,460},{166,138}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{166,138}}</string>
                <key>sourceSize</key>
                <string>{168,142}</string>
            </dict>
            <key>k_06_desk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{142,106}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{142,106}}</string>
                <key>sourceSize</key>
                <string>{158,122}</string>
            </dict>
            <key>k_06_desk_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,624},{158,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{158,116}}</string>
                <key>sourceSize</key>
                <string>{158,122}</string>
            </dict>
            <key>k_06_duihuakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,621},{128,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,108}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>k_06_duihuakuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,912},{64,58}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{64,58}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>k_06_duihuakuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{90,14}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,38},{90,14}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>k_06_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,744},{125,143}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,31},{125,143}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head10.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,448},{113,171}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,46},{113,171}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,669},{113,171}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,50},{113,171}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,321},{125,143}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,22},{125,143}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,300},{163,158}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{163,158}}</string>
                <key>sourceSize</key>
                <string>{211,172}</string>
            </dict>
            <key>k_06_head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,880},{107,169}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{107,169}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,842},{107,173}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{107,173}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head5.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,751},{117,133}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{117,133}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,885},{117,133}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{117,133}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head6.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,452},{211,145}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{211,145}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,599},{211,143}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{211,143}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,743},{115,135}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,30},{115,135}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,743},{115,135}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,32},{115,135}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,860},{115,129}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{115,129}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,870},{115,129}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{115,129}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head9.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,452},{113,213}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{113,213}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_head9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,454},{113,213}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,32},{113,213}}</string>
                <key>sourceSize</key>
                <string>{211,245}</string>
            </dict>
            <key>k_06_huazhuanghe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,860},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>k_06_huazhuanghe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{32,18}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{32,18}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>k_06_jiemaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,778},{58,32}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{58,32}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>k_06_linghun.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,667},{66,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{66,110}}</string>
                <key>sourceSize</key>
                <string>{74,116}</string>
            </dict>
            <key>k_06_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{148,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,322}}</string>
                <key>sourceSize</key>
                <string>{148,322}</string>
            </dict>
            <key>k_06_man2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{148,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,322}}</string>
                <key>sourceSize</key>
                <string>{148,322}</string>
            </dict>
            <key>k_06_man_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{156,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,322}}</string>
                <key>sourceSize</key>
                <string>{156,322}</string>
            </dict>
            <key>k_06_man_huahzuanghou.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,454},{148,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,322}}</string>
                <key>sourceSize</key>
                <string>{148,322}</string>
            </dict>
            <key>k_06_man_huahzuanghou_walk.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{136,318}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,318}}</string>
                <key>sourceSize</key>
                <string>{148,322}</string>
            </dict>
            <key>k_06_man_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{148,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,322}}</string>
                <key>sourceSize</key>
                <string>{148,322}</string>
            </dict>
            <key>k_06_man_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,326},{124,318}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,318}}</string>
                <key>sourceSize</key>
                <string>{148,322}</string>
            </dict>
            <key>k_06_man_zhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{138,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,317}}</string>
                <key>sourceSize</key>
                <string>{138,317}</string>
            </dict>
            <key>k_06_man_zhao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,742},{141,158}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{141,158}}</string>
                <key>sourceSize</key>
                <string>{211,172}</string>
            </dict>
            <key>k_06_man_zhao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,889},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>k_06_man_zhao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,889},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>k_06_man_zhao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,600},{141,158}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{141,158}}</string>
                <key>sourceSize</key>
                <string>{211,172}</string>
            </dict>
            <key>k_06_man_zhao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,600},{141,158}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{141,158}}</string>
                <key>sourceSize</key>
                <string>{211,172}</string>
            </dict>
            <key>k_06_man_zhao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,140},{141,172}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{141,172}}</string>
                <key>sourceSize</key>
                <string>{211,172}</string>
            </dict>
            <key>k_06_man_zhao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,457},{141,158}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{141,158}}</string>
                <key>sourceSize</key>
                <string>{211,172}</string>
            </dict>
            <key>k_06_man_zhao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,140},{211,158}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{211,158}}</string>
                <key>sourceSize</key>
                <string>{211,172}</string>
            </dict>
            <key>k_06_man_zhao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,314},{141,158}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,14},{141,158}}</string>
                <key>sourceSize</key>
                <string>{211,172}</string>
            </dict>
            <key>k_06_plant.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{132,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,246}}</string>
                <key>sourceSize</key>
                <string>{132,246}</string>
            </dict>
            <key>k_06_tear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,918},{70,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,42}}</string>
                <key>sourceSize</key>
                <string>{70,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_06.png</string>
            <key>size</key>
            <string>{1352,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13a9f25569cb6bf8a3d49d546dd505fa:1/1$</string>
            <key>textureFileName</key>
            <string>k_06.png</string>
        </dict>
    </dict>
</plist>
