<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_gold_btn_buy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,400},{134,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{134,36}</string>
            </dict>
            <key>add_gold_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,976},{116,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,30}}</string>
                <key>sourceSize</key>
                <string>{116,30}</string>
            </dict>
            <key>add_gold_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,856},{116,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,28}}</string>
                <key>sourceSize</key>
                <string>{116,28}</string>
            </dict>
            <key>add_gold_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,506},{408,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,88}}</string>
                <key>sourceSize</key>
                <string>{408,90}</string>
            </dict>
            <key>com_CPM_btn_buy_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,806},{190,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,76}}</string>
                <key>sourceSize</key>
                <string>{190,76}</string>
            </dict>
            <key>com_CPM_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,954},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>com_CPM_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,472}}</string>
                <key>sourceSize</key>
                <string>{590,472}</string>
            </dict>
            <key>failure_btn_coins_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,506},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>failure_btn_vomit_slot_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,792},{62,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>failure_ghost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,792},{78,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,104}}</string>
                <key>sourceSize</key>
                <string>{78,104}</string>
            </dict>
            <key>failure_man_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,414},{234,242}}</string>
                <key>offset</key>
                <string>{-81,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{234,242}}</string>
                <key>sourceSize</key>
                <string>{396,306}</string>
            </dict>
            <key>failure_man_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,658},{132,242}}</string>
                <key>offset</key>
                <string>{-63,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,33},{132,242}}</string>
                <key>sourceSize</key>
                <string>{396,306}</string>
            </dict>
            <key>failure_man_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,748},{160,212}}</string>
                <key>offset</key>
                <string>{-62,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,64},{160,212}}</string>
                <key>sourceSize</key>
                <string>{396,306}</string>
            </dict>
            <key>failure_man_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{140,252}}</string>
                <key>offset</key>
                <string>{-48,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,23},{140,252}}</string>
                <key>sourceSize</key>
                <string>{396,306}</string>
            </dict>
            <key>failure_man_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,748},{144,242}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,33},{144,242}}</string>
                <key>sourceSize</key>
                <string>{396,306}</string>
            </dict>
            <key>failure_man_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,732},{238,242}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,1},{238,242}}</string>
                <key>sourceSize</key>
                <string>{396,306}</string>
            </dict>
            <key>failure_man_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,596},{372,116}}</string>
                <key>offset</key>
                <string>{9,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,188},{372,116}}</string>
                <key>sourceSize</key>
                <string>{396,306}</string>
            </dict>
            <key>free_gold_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,506},{114,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>home_btn_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,792},{136,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,82}}</string>
                <key>sourceSize</key>
                <string>{136,82}</string>
            </dict>
            <key>home_btn_complaint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,876},{110,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,76}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>loading_handrail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,962},{20,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,146}}</string>
                <key>sourceSize</key>
                <string>{20,148}</string>
            </dict>
            <key>skip_btn_buy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,872},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>skip_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,536},{114,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>skip_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,414},{430,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,90}}</string>
                <key>sourceSize</key>
                <string>{430,92}</string>
            </dict>
            <key>strategy_buy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,872},{132,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,34}}</string>
                <key>sourceSize</key>
                <string>{132,34}</string>
            </dict>
            <key>strategy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,976},{118,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,30}}</string>
                <key>sourceSize</key>
                <string>{118,30}</string>
            </dict>
            <key>strategy_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,658},{294,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,88}}</string>
                <key>sourceSize</key>
                <string>{294,90}</string>
            </dict>
            <key>tip_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{524,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,254}}</string>
                <key>sourceSize</key>
                <string>{524,254}</string>
            </dict>
            <key>unlock_buy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,872},{132,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,36}}</string>
                <key>sourceSize</key>
                <string>{132,36}</string>
            </dict>
            <key>unlock_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,876},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>unlock_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,714},{320,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,90}}</string>
                <key>sourceSize</key>
                <string>{320,90}</string>
            </dict>
            <key>win_btn_again_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,562},{54,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,50}}</string>
                <key>sourceSize</key>
                <string>{56,52}</string>
            </dict>
            <key>win_btn_flaunt_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,596},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,32}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>win_btn_resume_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,622},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>win_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{618,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,410}}</string>
                <key>sourceSize</key>
                <string>{618,410}</string>
            </dict>
            <key>win_man_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{280,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,256}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>win_man_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,144},{244,254}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{244,254}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>win_man_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,400},{156,256}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{156,256}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
            <key>win_man_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,806},{194,254}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,1},{194,254}}</string>
                <key>sourceSize</key>
                <string>{280,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel.png</string>
            <key>size</key>
            <string>{1468,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60eb31ace41ac2ac608245df1e57c2f6:1/1$</string>
            <key>textureFileName</key>
            <string>panel.png</string>
        </dict>
    </dict>
</plist>
