<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_15_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{1200,240}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{1200,240}}</string>
                <key>sourceSize</key>
                <string>{1200,250}</string>
            </dict>
            <key>k_15_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,236},{102,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>k_15_car1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{176,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{176,118}}</string>
                <key>sourceSize</key>
                <string>{210,146}</string>
            </dict>
            <key>k_15_car2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{176,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{176,118}}</string>
                <key>sourceSize</key>
                <string>{210,146}</string>
            </dict>
            <key>k_15_car3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,180},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{176,108}}</string>
                <key>sourceSize</key>
                <string>{210,146}</string>
            </dict>
            <key>k_15_car4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2},{176,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{176,108}}</string>
                <key>sourceSize</key>
                <string>{210,146}</string>
            </dict>
            <key>k_15_car5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{178,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{178,122}}</string>
                <key>sourceSize</key>
                <string>{210,146}</string>
            </dict>
            <key>k_15_man1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,244},{204,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{204,160}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>k_15_man2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,244},{204,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{204,160}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>k_15_man3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,244},{204,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{204,160}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>k_15_man4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,244},{204,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{204,160}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>k_15_man5.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,244},{204,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{204,160}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>k_15_man6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,244},{204,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{204,160}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>k_15_man8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{204,152}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{204,152}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>k_15_man8_smile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,30}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>k_15_man8_smile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,364},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,32}}</string>
                <key>sourceSize</key>
                <string>{42,32}</string>
            </dict>
            <key>k_15_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,208},{590,26}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{590,26}}</string>
                <key>sourceSize</key>
                <string>{610,30}</string>
            </dict>
            <key>k_15_progress_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,122},{74,82}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,82}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>k_15_progress_thief.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,122},{70,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{70,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>k_15_thief1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,236},{148,154}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{148,154}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>k_15_thief2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,236},{148,156}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{148,156}}</string>
                <key>sourceSize</key>
                <string>{150,160}</string>
            </dict>
            <key>k_15_thief3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,236},{142,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{142,88}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>k_15_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,236},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>k_15_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{360,74}}</string>
                <key>sourceSize</key>
                <string>{380,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_15.png</string>
            <key>size</key>
            <string>{1982,406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:579842d9758ced4f3ea7cda306dcba02:1/1$</string>
            <key>textureFileName</key>
            <string>k_15.png</string>
        </dict>
    </dict>
</plist>
