<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_04_child.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,451},{51,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{51,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>k_04_child_hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,457},{47,44}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{47,44}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>k_04_child_hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,457},{41,50}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,30},{41,50}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>k_04_child_walk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,308},{51,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{51,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>k_04_child_walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,359},{47,84}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{47,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>k_04_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,251},{132,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,82}}</string>
                <key>sourceSize</key>
                <string>{132,82}</string>
            </dict>
            <key>k_04_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,367},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>k_04_cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{154,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,96}}</string>
                <key>sourceSize</key>
                <string>{154,96}</string>
            </dict>
            <key>k_04_cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,251},{124,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,76}}</string>
                <key>sourceSize</key>
                <string>{124,76}</string>
            </dict>
            <key>k_04_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,432},{145,34}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,92},{145,34}}</string>
                <key>sourceSize</key>
                <string>{165,126}</string>
            </dict>
            <key>k_04_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,196},{158,234}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{158,234}}</string>
                <key>sourceSize</key>
                <string>{158,238}</string>
            </dict>
            <key>k_04_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,42}</string>
            </dict>
            <key>k_04_grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,367},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>k_04_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,463},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>k_04_hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,2},{500,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,316}}</string>
                <key>sourceSize</key>
                <string>{500,316}</string>
            </dict>
            <key>k_04_house.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,196},{256,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,274}}</string>
                <key>sourceSize</key>
                <string>{256,274}</string>
            </dict>
            <key>k_04_house_wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,423},{26,30}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{26,30}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>k_04_house_wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,299},{42,46}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>k_04_house_wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,427},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>k_04_house_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,251},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>k_04_house_yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,445},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>k_04_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1340,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1340,192}}</string>
                <key>sourceSize</key>
                <string>{1340,192}</string>
            </dict>
            <key>k_04_lighting.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,196},{53,312}}</string>
                <key>offset</key>
                <string>{-1,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,1},{53,312}}</string>
                <key>sourceSize</key>
                <string>{127,558}</string>
            </dict>
            <key>k_04_lighting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{53,536}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{53,536}}</string>
                <key>sourceSize</key>
                <string>{127,558}</string>
            </dict>
            <key>k_04_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,335},{119,126}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,126}}</string>
                <key>sourceSize</key>
                <string>{165,126}</string>
            </dict>
            <key>k_04_man_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,349},{36,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>k_04_man_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,463},{40,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>k_04_man_wa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,329},{106,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{106,120}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>k_04_man_wa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,381},{98,120}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{98,120}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>k_04_man_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{106,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>k_04_man_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,251},{106,122}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,122}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>k_04_shenxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,251},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>k_04_town.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,196},{50,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,110}}</string>
                <key>sourceSize</key>
                <string>{54,110}</string>
            </dict>
            <key>k_04_town_wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,387},{34,22}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{34,22}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>k_04_town_wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,394},{44,36}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{44,36}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>k_04_town_wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,432},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>k_04_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,359},{106,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>k_04_xiannv.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,251},{102,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{102,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_04.png</string>
            <key>size</key>
            <string>{1662,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:784bbec954b4b689f09b8ae3d66ba7a6:1/1$</string>
            <key>textureFileName</key>
            <string>k_04.png</string>
        </dict>
    </dict>
</plist>
