<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>k_03_bird_go1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,578},{187,284}}</string>
                <key>offset</key>
                <string>{35,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,22},{187,284}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_go2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,500},{187,284}}</string>
                <key>offset</key>
                <string>{35,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,22},{187,284}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_peck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,793},{227,242}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,64},{227,242}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_peck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,767},{259,212}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,94},{259,212}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,122},{187,302}}</string>
                <key>offset</key>
                <string>{35,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,4},{187,302}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,361},{215,290}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,16},{215,290}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_shy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,122},{237,312}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{237,312}}</string>
                <key>sourceSize</key>
                <string>{279,314}</string>
            </dict>
            <key>k_03_bird_shy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{99,312}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,2},{99,312}}</string>
                <key>sourceSize</key>
                <string>{279,314}</string>
            </dict>
            <key>k_03_bird_shy2_cry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,227},{55,52}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,57},{55,52}}</string>
                <key>sourceSize</key>
                <string>{279,314}</string>
            </dict>
            <key>k_03_bird_shy2_cry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{55,64}}</string>
                <key>offset</key>
                <string>{-2,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,57},{55,64}}</string>
                <key>sourceSize</key>
                <string>{279,314}</string>
            </dict>
            <key>k_03_bird_shy2_cry3.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,59},{57,70}}</string>
                <key>offset</key>
                <string>{-4,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,57},{57,70}}</string>
                <key>sourceSize</key>
                <string>{279,314}</string>
            </dict>
            <key>k_03_bird_sleep1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{165,280}}</string>
                <key>offset</key>
                <string>{46,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,29},{165,280}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_sleep2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{161,306}}</string>
                <key>offset</key>
                <string>{48,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,3},{161,306}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,311},{187,292}}</string>
                <key>offset</key>
                <string>{35,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,21},{187,292}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_wake-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1089},{161,224}}</string>
                <key>offset</key>
                <string>{47,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,85},{161,224}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_bird_wind.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,920},{193,224}}</string>
                <key>offset</key>
                <string>{43,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,89},{193,224}}</string>
                <key>sourceSize</key>
                <string>{279,314}</string>
            </dict>
            <key>k_03_bird_wind_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{191,284}}</string>
                <key>offset</key>
                <string>{34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,22},{191,284}}</string>
                <key>sourceSize</key>
                <string>{259,314}</string>
            </dict>
            <key>k_03_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,131},{94,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>k_03_house.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1211},{210,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{210,166}}</string>
                <key>sourceSize</key>
                <string>{210,176}</string>
            </dict>
            <key>k_03_kuangpng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1379},{124,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,100}</string>
            </dict>
            <key>k_03_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,511},{126,235}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,235}}</string>
                <key>sourceSize</key>
                <string>{168,251}</string>
            </dict>
            <key>k_03_man_ca.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1022},{125,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,234}}</string>
                <key>sourceSize</key>
                <string>{125,234}</string>
            </dict>
            <key>k_03_man_ca1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1022},{125,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,234}}</string>
                <key>sourceSize</key>
                <string>{125,234}</string>
            </dict>
            <key>k_03_man_ca2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{125,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,234}}</string>
                <key>sourceSize</key>
                <string>{125,234}</string>
            </dict>
            <key>k_03_man_climb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{250,118}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,118}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>k_03_man_climb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{258,106}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{258,106}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>k_03_man_climb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{316,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,118}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>k_03_man_climb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,118}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>k_03_man_climb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{316,108}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{316,108}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>k_03_man_climb_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,118}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>k_03_man_climb_win2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,981},{242,106}}</string>
                <key>offset</key>
                <string>{34,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,1},{242,106}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>k_03_man_cry1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1149},{152,177}}</string>
                <key>offset</key>
                <string>{8,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,74},{152,177}}</string>
                <key>sourceSize</key>
                <string>{168,251}</string>
            </dict>
            <key>k_03_man_cry2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1252},{152,165}}</string>
                <key>offset</key>
                <string>{8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,86},{152,165}}</string>
                <key>sourceSize</key>
                <string>{168,251}</string>
            </dict>
            <key>k_03_pig_son_bignose.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1291},{91,98}}</string>
                <key>offset</key>
                <string>{-55,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{91,98}}</string>
                <key>sourceSize</key>
                <string>{203,106}</string>
            </dict>
            <key>k_03_pig_son_bignose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,281},{42,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,28}}</string>
                <key>sourceSize</key>
                <string>{42,28}</string>
            </dict>
            <key>k_03_pig_son_go1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,411},{92,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,98}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>k_03_pig_son_go2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,311},{92,98}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,98}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>k_03_pig_son_penti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1291},{114,98}}</string>
                <key>offset</key>
                <string>{-105,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,98}}</string>
                <key>sourceSize</key>
                <string>{324,106}</string>
            </dict>
            <key>k_03_pig_son_penti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1231},{114,102}}</string>
                <key>offset</key>
                <string>{-104,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{114,102}}</string>
                <key>sourceSize</key>
                <string>{324,106}</string>
            </dict>
            <key>k_03_pig_son_penti3.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1115},{114,102}}</string>
                <key>offset</key>
                <string>{-91,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,1},{114,102}}</string>
                <key>sourceSize</key>
                <string>{324,106}</string>
            </dict>
            <key>k_03_pig_son_penti4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,689},{274,102}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{274,102}}</string>
                <key>sourceSize</key>
                <string>{324,106}</string>
            </dict>
            <key>k_03_sun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1115},{177,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,174}}</string>
                <key>sourceSize</key>
                <string>{177,174}</string>
            </dict>
            <key>k_03_sun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,748},{171,170}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{171,170}}</string>
                <key>sourceSize</key>
                <string>{177,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>k_03.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86cdf11368c9152c408edf5c2d76c7e2:1/1$</string>
            <key>textureFileName</key>
            <string>k_03.png</string>
        </dict>
    </dict>
</plist>
